body{
    font-family: 'Montserrat';
}
#title{
    background-color: #ff4c68;
    color: white;
}
h1{
    font-family: 'Montserrat-black', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-family: 'montserrat';
    font-weight: bold;
    line-height: 1.5;
}

h3{
    font-family: 'Montserrat';
    font-weight: bold;
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 15% 7%;
}
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    font-family: 'ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: auto;
    
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
}
.down-btn{
    margin: 5% 3% 5% 0;
}
.title-img{
    width: 60%;
    transform: rotate(25deg);
}
#features{
    padding: 7% 15%;
    background-color: white;
}
.feature-box{
   text-align: center;
   padding: 5%;
}
.icon-pa{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon-pa:hover{
    color: #ff4c68;
}
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}
.dog-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color:  #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.testi{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
#cta{
    background-color: #ff4c68;
    color: white;
    padding: 7% 15%;
    text-align: center;
}
.cta-text{
    font-family: 'Montserrat-black', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}  
#footer{
    padding: 7% 15%;
    text-align: center;
}
.footer-mar{
    margin: 20px 10px;
}

@media(max-width:1028px){
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
    
    }
}